
<h3>Create Group</h3>
<p>
<%= form_for @group ,:url => groups_path do |f| %>
    <p class=small_font> <%= @group.errors.full_messages.to_sentence if @group.errors.any? %></p>

      <%= f.label :name %>
      <%= f.text_field :group_name %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit  :class => "button_blue" %>

<% end %>
</p>
<p><%= link_to'back', users_path %></p>