<%= form_for @post , :url => posts_path do |f|%>
   <p class=small_font> <%= @post.errors.full_messages.to_sentence if @post.errors.any? %></p><br>

      <p class=names><%=f.label :caption %> <br>
      <%=f.text_area :caption, :rows => 2, :cols => 50  %>
      <%=f.hidden_field :group_id , :value => params[:post][:group_id]%>
      <%=f.hidden_field :user_name , :value => current_user.name%> <br>

      <%=f.file_field :image  %> <br>
      <%=f.submit%></p>

<% end %>
<% if @show_post.blank? %>
    <p>No Recent Posts.</p>
<% else %>
    <p>Recent Posts</p>
    <div class=image-show>
    <ul>
      <% @show_post.each do |c| %>
          <%= form_for :post , :url => posts_path, :method=>"get" do |f| %>
              <%= f.hidden_field :group_id , :value => c.group_id %>
              <div class=ex><p class=names><%= c.user_name %></p></div>
              <p class=small_font><%= c.caption %></p>
              <div id="menu">
                <%=link_to (image_tag c.image_url(:thumb).to_s ),c.image_url(:thumb).to_s,:rel=>"prettyPhoto[pp_gal]" %>
              </div>
              <%= link_to 'Delete', post_path(c.id),
                          method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to 'comment', [:new, c, :comment] %>
              <%#= link_to 'comment', new_post_comment_path(c) %>
              <%#= link_to 'show comments', [ c, :comments]  %>
              <br>
              <% c.comments.each do |comment| %>
                  <ul>
                  <li><%= comment.body %></li>
                  </ul>
              <% end %>

              <br><br><br><br><br>
              <%#= f.submit value="Proceed without uploading" %>
              <%#= link_to c.group_name, new_group_post_path, :onclick => "$('##{dom_id(@user)}').submit()" %>
          <% end %>
      <% end %>
    </ul>
    </div>
<% end %>


<!--<%#= form_for @post , :url =>  show_posts_posts_path do |f|%>
    <p>
      <%#= f.hidden_field :group_id , :value => params[:post][:group_id]%>
    </p>
    <p>
      <%#= f.submit value="Proceed without uploading" %>


    </p>

<#% end %>-->
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $("a[rel^='prettyPhoto']").prettyPhoto();
    });
</script>
